<div class="container">
  <div class="row gy-3">

    <div class="col-4 my-5">
      <div class="list-group mt-4 text-center" id="list-tab" role="tablist">

        <a class="list-group-item my-5">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1 ms-3">
             Activities
            </div>
            <div class="flex-shrink-0">
              <a href="/profileupdate"><img src="../assets/3d_avatar_21.png"> </a>
            </div>
          </div>
        </a>


        <a class="list-group-item list-group-item-action my-5 rounded" id="list-routine-list" data-bs-toggle="list" href="#routine" role="tab" aria-controls="list-routine">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="../assets/Leading element.png" width="40px" height="40px">
            </div>
            <div class="flex-grow-1 ms-3">
             Training routine <br>
             <small>An AI will help you to achieve your goals</small>
            </div>
          </div>
        </a>

        <a class="list-group-item list-group-item-action my-5 rounded" id="list-reminder-list" data-bs-toggle="list" href="#reminder" role="tab" aria-controls="list-reminder">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="../assets/Leading element(1).png" width="40px" height="40px">
            </div>
            <div class="flex-grow-1 ms-3">
             Animate your GymBro <br>
             <small>
               Send a reminder to your Gymbro to <br>
               keep making progress
             </small>
            </div>
          </div>
        </a>

        <a class="list-group-item list-group-item-action my-5 rounded" id="list-reminderbuy-list" data-bs-toggle="list" href="#reminderbuy" role="tab" aria-controls="list-reminderbuy">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="../assets/Leading element(2).png" width="40px" height="40px">
            </div>
            <div class="flex-grow-1 ms-3">
             Don't forget <br>
             <small>
              We help you remember when you <br>
              should buy sports supplements <br>
              or accesories
            </small>
            </div>
          </div>
        </a>


      </div>


    </div>

    <div class="col-8 gy-5 d-flex align-items-center">

      <div class="col-md-5 offset-md-6 my-1">
        <div class="card rounded" style="width: 18rem; height: 18r3m;">
          <div class="card-body">
            <h1 class="card-title text-center">Reminder created</h1>
            <p class="card-text">Start with your fitness jouney</p>
            <hr>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a class="btn btn-primary" href="#" role="button">Accept</a>

            </div>

          </div>
        </div>
      </div>




    </div>

  </div>
</div>
