<div class="container-fluid">

  <div class="row">

    <div class="col-md-6 offset-md-5 my-5">
      <img src="../assets/woman-g1c1af50ce_1280 1.png" width="155px" height="300px">
    </div>

  </div>

  <div class="row">

    <div class="col-md-6 offset-md-4 my-5">
        <div class="input-group mb-3 w-50">
          <input type="text" class="form-control" placeholder="user" id="input1">
        </div>
        <div class="input-group mb-3 w-50">
          <input type="text" class="form-control" placeholder="password" id="input2">
        </div>
        <div class="d-grid gap-2 col-6 mx-3.1">
          <a class="btn btn-primary" href="/profileupdate" role="button">Sign in </a>
        </div>

    </div>



  </div>

</div>

