img {
  width: 470px;
  height: 870px;
  position: absolute;
  left: 20%;
  top: 5%;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

.button {
  color: white;
  width: 360px;
  height: 40px;
  border-radius: 100px;
  background-color: rgba(0, 92, 187,1);
  display: flex;
  align-items: center;
  justify-content: center;

}

#signin {

  position: absolute;
  right: 60px;
  top: 364px;

}

#login {
  position: absolute;
  right: 60px;
  top: 471px;

}
