<div class="container">
  <div class="row gy-3">

    <div class="col-4 my-5">
      <div class="list-group mt-4 text-center" id="list-tab" role="tablist">

        <a class="list-group-item my-5">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1 ms-3">
             Activities
            </div>
            <div class="flex-shrink-0">
              <a href="/profileupdate"><img src="../assets/3d_avatar_21.png"> </a>
            </div>
          </div>
        </a>


        <a class="list-group-item list-group-item-action my-5 rounded" id="list-routine-list" data-bs-toggle="list" href="#list-routine" role="tab" aria-controls="list-routine">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="../assets/Leading element.png" width="40px" height="40px">
            </div>
            <div class="flex-grow-1 ms-3">
             Training routine <br>
             <small>An AI will help you to achieve your goals</small>
            </div>
          </div>
        </a>

        <a class="list-group-item list-group-item-action my-5 rounded" id="list-reminder-list" data-bs-toggle="list" href="#list-reminder" role="tab" aria-controls="list-reminder">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="../assets/Leading element(1).png" width="40px" height="40px">
            </div>
            <div class="flex-grow-1 ms-3">
             Animate your GymBro <br>
             <small>
               Send a reminder to your Gymbro to <br>
               keep making progress
             </small>
            </div>
          </div>
        </a>

        <a class="list-group-item list-group-item-action my-5 rounded" id="list-reminderbuy-list" data-bs-toggle="list" href="#list-reminderbuy" role="tab" aria-controls="list-reminderbuy">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="../assets/Leading element(2).png" width="40px" height="40px">
            </div>
            <div class="flex-grow-1 ms-3">
             Don't forget <br>
             <small>
              We help you remember when you <br>
              should buy sports supplements <br>
              or accesories
            </small>
            </div>
          </div>
        </a>


      </div>


    </div>

    <div class="col-8">

    </div>

  </div>
</div>
